@model TravelTutor.Models.TestViewModel
@{
    ViewData["Title"] = "Travel Tutor";
}

<div class="if container">
    <h1 class="display-4">Test</h1>
    <p>Answer our questions correctly to get your discount for travel insurance</p>
    <form asp-action="SubmitResult" method="post">
        @for (int questionIndex = 0; questionIndex < Model.Questions.Count; questionIndex++)
        {
        <div class="mt-3">
            <h3>@Model.Questions[questionIndex].Question.Question</h3>
            <fieldset id="fields-@questionIndex">
                @for (int optionIndex = 0; optionIndex < Model.Questions[questionIndex].Question.Options.Count; optionIndex++)
                {
                <input type="radio" id="fields-@questionIndex-question-@optionIndex" name="Questions[@questionIndex].AnswerInput" value="@Model.Questions[questionIndex].Question.Options[optionIndex]">
                <label for="fields-@questionIndex-question-@optionIndex">@Model.Questions[questionIndex].Question.Options[optionIndex]</label>
                <br>
                }
            </fieldset>
            @Html.HiddenFor(m => m.Questions[questionIndex].Question.Question)
            @for (int optionIndex = 0; optionIndex < Model.Questions[questionIndex].Question.Options.Count; optionIndex++)
            {
            @Html.HiddenFor(m => m.Questions[questionIndex].Question.Options[optionIndex])
            }
        </div>
        }
        <div class="if mt-4">
            <button class="if button primary" type="submit">Submit</button>
        </div>
    </form>
</div>
